$background: #181926;
$foreground: #363a4f;
$text: #cad3f5;

$scale_trough: #24273a;
$scale_highlight: #f0c6c6;

$date: #b8c0e0;
$week: #b8c0e0;
$month: #b8c0e0;
$time: #ed8796;

$music_icon: #f9e2af;

$wifi_prefix: #c6a0f6;
$wifi_off: #ed8796;

$bluetooth_prefix: #c683bf;
$bluetooth_prefix_off: #ed8796;
$bluetooth_prefix_low: #f5bde6;

$volume_prefix: #a6da95;

$brightness_prefix: #f9e2af;

$battery_prefix: #c6a0f6;
$battery_prefix_low: #ed8796;
$battery_txt: #c6a0f6;
$battery_txt_low: #ed8796;
$battery_unit: #c6a0f6;
$battery_unit_low: #ed8796;
