$background: #181926;
$foreground: rgba(54,58,79,0.8);
$text: #cad3f5;
$alert: #ed8796;
$battery_alert: #E52B26;
$yellow: #f9e2af;
$scale_trough: #24273a;
$scale_highlight: #f0c6c6;

$date: #b8c0e0;
$week: #b8c0e0;
$month: #b8c0e0;
$time: #E06C75;

$music_icon: #f9e2af;
$wifi_off: #ed8796;
$wifi_icon: #f9e2af;
$bluetooth_icon: #f9e2af;
$volume_icon: #f9e2af;
$brightness_icon: #f9e2af;

$battery_txt: $text;
$battery_unit: $text;
$battery_icon: #f9e2af;
$temp-icon: #f9e2af;
$cpu-icon: #f9e2af;
$ram-icon: #f9e2af;
