$red: #E06C75;
$green: #9ECE6A;
$blue: #7AA2F7;
$yellow: #F9E2AF;
$bg: #11111B;
$fg: #363A4F;
$accent: $yellow;

$text: #CAD3F5;
$alert: #ED8796;
$scale_trough: #24273A;
$scale_highlight: #F0C6C6;
$time: #E06C75;
