* {
  all: unset;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 16px;
}

@import "theme.scss";

scale trough {
	all: unset;
	background-color: $scale_trough;
	border-radius: 10px;
  margin: 0px 4px 0px 14px;
	box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.3);
}

.bar-box {
  background-color: $background;
  border-radius: 9px;
  margin: 3px 5px 5px 5px;
  box-shadow: 0px 1px 3px 1px rgba(30, 29, 45, 0.8);
}
.color-box {
  background-color: $foreground;
  border-radius: 8px;
  margin: 5px 5px;
  padding: 0px 1px 0px 12px;
}
.txt {
  color: $text;
  font-weight: bold;
}

//{{{ Left:
.left_box {
  padding: 0px 0px 0px 16px;
}

//{{{ Date
.time {
  @extend .txt;
  font-size: 21px;
  color: $time;
  padding-right: 15px;
}
.date {
  @extend .txt;
  padding: 0px 15px 0px 7px;
  font-weight: normal;
  font-size: 18px;
  color: $text;
}
.week {
  @extend .txt;
  font-weight: normal;
  font-size: 18px;
  color: $text;
}
//}}}

//}}}

//{{{ CENTER:
.center_box {
  font-family: "SF Pro";
  font-weight: bolder;
  padding: 0px 18px 0px 0px;
}

//{{{ Music
.music-icon {
    font-family: "SF Pro Rounded";
    font-weight: bold;
    font-size: 18px;
    color: $music-icon;
  }
.music-title {
  @extend .txt;
  font-size: 18px;
  padding-left: 10px;
}
.music-prev {
    @extend .txt;
    font-size: 18px;
  }
.music-play {
    @extend .txt;
    padding: 0px 25px 0px 25px;
    font-size: 18px;
  }
.music-next {
    @extend .txt;
    font-size: 18px;
  }
//}}}

//}}}

//{{{ RIGHT:
.right_box {
  padding: 0px 16px 0px 0px;
}

//{{{ Wifi
.wifi-icon {
    font-family: "SF Pro Rounded";
    font-weight: bolder;
    padding-right: 0px;
    color: $wifi-icon;
  }
.wifi-off {
      color: $wifi_off;
    }
.wifi_txt {
    @extend .txt;
    padding: 0px 5px 0px 2px;
  }
//}}}

//{{{ Bluetooth
.bluetooth-icon {
    font-family: "SF Pro Rounded";
    font-weight: bolder;
    padding-left: 3px;
    color: $bluetooth-icon;
  }
.bluetooth-ssid {
    @extend .txt;
  }
.bluetooth-alert {
    color: $alert;
  }
//}}}

//{{{ Volume
.volume scale trough highlight {
    border-radius: 10px;
    background: $scale_highlight;
    padding: 5px;
  }
.volume-icon {
    font-family: "SF Pro Rounded";
    color: $volume-icon;
    font-weight: bolder;
    padding-left: 3px;
  }
//}}}

//{{{ brightness
.brightness scale trough highlight {
    border-radius: 10px;
    background: $scale_highlight;
    padding: 5px;
  }
.brightness-icon {
    font-family: "SF Pro Rounded";
    color: $brightness-icon;
    font-weight: bolder;
    padding-right: 10px;
  }
//}}}

//{{{ Cpu
.cpu {
  padding: 0px 0px 0px 15px;
}
.cpu-icon {
    font-family: "SF Pro Rounded";
    color: $cpu-icon;
    font-weight: normal;
    font-size: 20px;
  }
.cpu-used {
    color: $text;
    font-weight: bold;
    font-size: 18px;
  }
.cpu-used-unit {
    font-family: "SF Pro Rounded";
    color: $text;
    font-weight: normal;
    font-size: 17px;
  }
.cpu-alert {
    color: $alert;
  }
//}}}

//{{{ Ram
.ram {
  padding: 0px 0px 0px 15px;
}
.ram-icon {
    font-family: "SF Pro Rounded";
    color: $ram-icon;
    font-weight: normal;
    font-size: 20px;
  }
.ram-used {
    color: $text;
    font-weight: bold;
    font-size: 18px;
  }
.ram-used-unit {
    font-family: "SF Pro Rounded";
    color: $text;
    font-weight: normal;
    font-size: 17px;
  }
.ram-alert {
    color: $alert;
  }
//}}}

//{{{ Temp
.temp {
  padding: 0px 0px 0px 15px;
}
.temp-icon {
    font-family: "SF Pro Rounded";
    color: $temp-icon;
    font-weight: normal;
    font-size: 20px;

  }
.temp-txt {
    color: $text;
    font-weight: bold;
    font-size: 18px;
  }
.temp-alart {
    color: $alert;
  }
//}}}

//{{{ Battery
.battery {
  padding: 0px 0px 0px 10px;
}
.battery-icon {
    font-family: "SF Pro Rounded";
    color: $battery-icon;
    font-weight: normal;
    font-size: 23px;
  }
.battery-value {
    @extend .txt;
    font-size: 18px;
    color: $battery_txt;
  }
.battery-unit {
    @extend .txt;
    font-family: "SF Pro Rounded";
    font-size: 17px;
    font-weight: normal;
    color: $battery_unit;
  }
.battery-low {
    color: $alert;
  }
//}}}

//}}}

.battery_alert {
  border-radius: 10px;
  background-color: $battery_alert;
}

.wifi-box {
  @extend .bar-box;
  min-width: 300px;
  padding: 10px 5px 10px 5px;
  margin: 5px;
  border: 2px solid;
  border-color: $text;
}
.wifi-color-box {
  background-color: $foreground;
  border-radius: 8px;
  min-height: 40px;
}

// vim: foldmethod=marker
