$background: #1e1d2d;
$foreground: rgba(54,58,79,0.8);
$text: #cad3f5;
$alert: #ed8796;
$battery_alert: #E52B26;

$scale_trough: #24273a;
$scale_highlight: #f0c6c6;

$date: #b8c0e0;
$week: #b8c0e0;
$month: #b8c0e0;
$time: #E06C75;

$music_icon: #f9e2af;

$wifi_icon: #97CDFB;
$wifi_off: #ed8796;

$bluetooth_icon: #F8BC97;

$volume_icon: #a6da95;

$brightness_icon: #f9e2af;

$battery_txt: $text;
$battery_unit: $text;
$battery_icon: #c6a0f6;

$temp-icon: #f9e2af;
$cpu-icon: #f9e2af;
$ram-icon: #f9e2af;
