* {
  all: unset;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 16px;
}

@import "./scss/theme.scss";
@import "./scss/bar";
@import "./scss/greeting";
@import "./scss/powermenu";
@import "./scss/timedate";
@import "./scss/warning";
@import "./scss/wifi-widget";
@import "./scss/calendar";
@import "./scss/quickSettings";
@import "./scss/osd.scss";
